.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.geo-button,
.forecast-button {
  background: transparent;
  border: 1px solid #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.geo-button:hover,
.forecast-button:hover {
  background-color: #007bff;
  color: white;
}

/* Estilos para a animação suave ao ocultar a previsão de 5 dias */
.forecast {
  margin-top: 20px;
  z-index: 2;
  position: relative;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.forecast-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  width: 150px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
